@model Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = Translation.Manage;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Translation.ChangeYourAccountSettings</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Translation.Password:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink(Translation.ChangePassword, Actions.ChangePassword) : Html.ActionLink(Translation.Create, Actions.SetPassword))
            ]
        </dd>
    </dl>
</div>
