
@model IEnumerable<Web.ViewModels.Content.PageViewModel>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>@Translation.Title</th>
            <th>@Translation.PostedOn</th>
            <th>@Translation.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var post in Model)
            {
                <tr>
                    <td>@Html.RouteLink(post.Title, PageRoute.Name, new { area = string.Empty, friendlyUrl = post.FriendlyUrl })</td>
                    <td>@post.PostedOn</td>
                    <td>
                        @Html.ActionLink(Translation.Edit, Actions.Edit, Controllers.Pages, new { area = Areas.Administration, id = post.Id }, new { @class = "btn btn-info" })
                        @Ajax.ActionLink(Translation.Delete, Actions.Delete, Controllers.Pages, new { area = Areas.Administration, id = post.Id }, new AjaxOptions { HttpMethod = "Delete", UpdateTargetId = post.GetHtmlId, InsertionMode = InsertionMode.ReplaceWith, Confirm = post.ConfirmDelete }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
