@{
    ViewBag.Title = Translation.UploadFiles;
}
<h4>@ViewBag.Title</h4>
<hr />
@using (Html.BeginForm(Actions.Upload, Controllers.Files, new { area = Areas.Administration }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row fileupload-buttonbar">
        <div class="well">
            <div class="progress progress-striped active">
                <div class="progress-bar" id="overallbar" style="width: 0%">
                </div>
            </div>
            <span class="btn btn-primary fileinput-button">
                <i class="glyphicon glyphicon-plus"></i> @Translation.AddFiles
                <input type="file" id="fileupload" name="fileupload" multiple="multiple">
            </span>
            <button id="btnUploadAll" class="btn btn-success pull-right" type="button">@Translation.UploadFiles</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well hide" id="filelistholder">
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        var fileUploadData = (function () {
            return {
                url: "@Url.RouteUrl(DefaultApiRoute.Name, new { httproute = "", controller = Controllers.Upload })",
                completedTextLocale: '@Translation.Completed'
            }
        }());
    </script>
    @Scripts.Render(ClientResources.JQueryFileUpload)
    @Scripts.Render(ClientResources.FileUpload)
}
