@{
    ViewBag.Title = Translation.UploadFiles;
}
<h4>@ViewBag.Title</h4>
<hr/>
@using (Html.BeginForm(Actions.Upload, Controllers.Files, new { area = Areas.Administration }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row fileupload-buttonbar">
        <div class="well">
            <div class="progress progress-striped active">
                <div class="progress-bar" id="overallbar" style="width: 0%">
                </div>
            </div>
            <span class="btn btn-primary fileinput-button">
                <i class="glyphicon glyphicon-plus"></i> @Translation.AddFiles
                <input type="file" id="fileupload" name="fileupload" multiple="multiple">
            </span>
            <button id="btnUploadAll" class="btn btn-success pull-right" type="button">@Translation.UploadFiles</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well hide" id="filelistholder">
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render(ClientResources.JQueryFileUpload)
    <script type="text/javascript">
        $(function() {
            $('#fileupload').fileupload({
                dataType: "json",
                url: "@Url.RouteUrl(DefaultApiRoute.Name, new { httproute = "", controller = Controllers.Upload })",
                limitConcurrentUploads: 1,
                sequentialUploads: true,
                progressInterval: 100,
                maxChunkSize: 52428800,
                add: function(e, data) {
                    $('#filelistholder').removeClass('hide');
                    data.context = $('<div />').text(data.files[0].name).appendTo('#filelistholder');
                    $('</div><div class="progress progress-striped active"><div class="progress-bar" style="width:0%"></div></div>').appendTo(data.context);
                    $('#btnUploadAll').click(function() {
                        data.submit();
                    });
                },
                done: function(e, data) {
                    data.context.html($('<a href="' + data.result.Url + '">' + data.result.FileName + '</a><span> ... @Translation.Completed</span>'));
                    $('</div><div class="progress progress-striped active"><div class="progress-bar" style="width:100%"></div></div>').appendTo(data.context);
                },
                progressall: function(e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#overallbar').css('width', progress + '%');
                },
                progress: function(e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    data.context.find('.progress-bar').css('width', progress + '%');
                }
            });
        });
    </script>
}
