@model Web.ViewModels.Content.PostViewModel
@{
    ViewBag.Title = Model.Title;
}
@section MetaInformation {
    @Html.Partial(Partials.Seo, Model)
}
<article>
    @Html.Partial(Partials.PostHeaderPartial, Model)
    <div class="article-content">
        @Html.Raw(Model.Content)
    </div>
</article>
@Html.Partial(Partials.CommentsEndlessScrollPartial, Model)
@section scripts {
    @Scripts.Render(ClientResources.JQueryUnobtrusive)
    @Scripts.Render(ClientResources.CommentsEndlessScroll)
}