@model Web.ViewModels.Content.PostViewModel
@{
    ViewBag.Title = Model.Title;
}

@section MetaInformation {
    @Html.Partial(Partials.Seo, Model)
}

<article>
    <h3>@Html.RouteLink(Model.Title, PostRoute.Name, new { area = string.Empty, id = Model.Id, friendlyUrl = Model.FriendlyUrl })</h3>
    <hr/>
    <div class="body-content">
        @Html.Raw(Model.Content)
    </div>
    <blockquote class="pull-right">
        <small>@Model.PostedOnBy</small>
    </blockquote>
</article>
<p>
    @Html.ActionLink(Translation.BackToList, Actions.Index)
</p>
