@model Web.ViewModels.Content.PostViewModel
@{
    ViewBag.Title = Model.Title;
}
@section MetaInformation {
    @Html.Partial(Partials.Seo, Model)
}
<article>
    <header>
        <h3>@Html.RouteLink(Model.Title, PostRoute.Name, new { area = string.Empty, friendlyUrl = Model.FriendlyUrl })</h3>
        <span class="glyphicon glyphicon-calendar"></span><time>@Model.PostedOn</time>
        <span class="glyphicon glyphicon-folder-open"></span>@Html.ActionLink(Model.Category.Title, Actions.Detail, Controllers.Category, new { id = Model.Category.Id }, new { area = string.Empty })
        <span class="glyphicon glyphicon-user"></span><span>@Html.RouteLink(Model.AuthorName, AuthorRoute.Name, new { username = Model.AuthorName })</span>
        <span class="glyphicon glyphicon-comment"></span><span>
            @Ajax.ActionLink(Translation.PostAComment, Actions.Create, Controllers.Comments, new { area = Areas.Administration, id = Model.Id },
                 new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "comment-post" }, new { id = "leave-comment" })
        </span>
    </header>
    <div class="article-content">
        @Html.Raw(Model.Content)
    </div>
</article>
<div id="comment-post"></div>
<div id="comment-box"></div>
<button class="btn btn-success" id="show-comments-button">@Translation.ShowComments</button>
@section scripts {
    @Scripts.Render(ClientResources.JQueryUnobtrusive)
    <script>
        var currentReviewPage = 1,
            pageSize = @GlobalConstants.PageSize,
            loadCommentsUrl = '@Url.Action(Actions.GetCommentsForPost, Controllers.Comments, new { area = string.Empty, id = Model.Id })',
            $commentsContainer = $('#comment-box'),
            $showCommentsButton = $('#show-comments-button'),
            allCommentsWareDownloaded = false,
            ReadCommentsClicked = false,
            $data,
            appendMoreComments = function() {
                ReadCommentsClicked = true;
                $.ajax(
                {
                    url: loadCommentsUrl + "?page=" + currentReviewPage,
                    type: "GET",
                    success: function(data) {
                        if (data.length > pageSize) {
                            $data = $(data);
                            $commentsContainer.append($data);
                            currentReviewPage += 1;
                        } else if (currentReviewPage > 1) {
                            $commentsContainer.append('@Html.Label(Translation.NoMoreComments, new { @class = "text-warning" })');
                            $showCommentsButton.remove();
                            allCommentsWareDownloaded = true;
                        } else {
                            $commentsContainer.append('@Html.Label(Translation.NoComments, new { @class = "text-danger"})');
                            $showCommentsButton.remove();
                            allCommentsWareDownloaded = true;
                        }
                    }
                });
            }

        $(window).scroll(function() {
            if ($(window).scrollTop() === $(document).height() - $(window).height()) {
                if (!allCommentsWareDownloaded) {
                    if (ReadCommentsClicked) {
                        appendMoreComments();
                    }
                }
            }
        });

        $showCommentsButton.on("click", appendMoreComments);
    </script>
}