@model Web.ViewModels.Content.PostViewModel
@{
    ViewBag.Title = Model.Title;
}
@section MetaInformation {
    @Html.Partial(Partials.Seo, Model)
}
<article>
    <header>
        <h3>@Html.RouteLink(Model.Title, PostRoute.Name, new { area = string.Empty, id = Model.Id, friendlyUrl = Model.FriendlyUrl })</h3>
        <span class="glyphicon glyphicon-calendar"></span><time>@Model.PostedOn</time>
        <span class="glyphicon glyphicon-folder-open"></span>@Html.ActionLink(Model.Category.Title, Actions.Detail,
        Controllers.Category, new { id = Model.Category.Id }, new { area = string.Empty })
        <span class="glyphicon glyphicon-user"></span><span>@Html.ActionLink(Model.AuthorName, Actions.Detail, 
        Controllers.Author, new { authorId = Model.AuthorId }, new { area = string.Empty })</span>
    </header>
    <div class="article-content">
        @Html.Raw(Model.Content)
    </div>
    <blockquote class="pull-right">
        <small>@Model.PostedOnBy</small>
    </blockquote>
</article>
<p>
    @Html.ActionLink(Translation.BackToList, Actions.Index)
</p>