@using Config
@using Web.Infrastructure.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalConstants.SiteName</title>
    @RenderSection("MetaInformation", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial(Partials.Menu)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <a href="@GlobalConstants.GitHubLink">© 2015 - Powered by ContentRocks</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
