@model  Web.ViewModels.PagerViewModel

<div class="row">
    <ul class="pagination">
        @if (Model.PreviousPageButtonEnabled)
        {
            <li><a href="@Model.PreviousPageParam">«</a></li>
        }
        else
        {
            <li class="disabled"><span>«</span></li>
        }
        @for (var page = 1; page <= Model.TotalPages; page++)
        {
            if (Model.CurrentPage == page)
            {
                <li class="active"><span>@page</span></li>
            }
            else
            {
                <li><a href="@Model.GetPageParam(page)">@page</a></li>
            }
        }
        @if (Model.NextPageButtonEnabled)
        {
            <li><a href="@Model.NextPageParam">»</a></li>
        }
        else
        {
            <li class="disabled"><span>»</span></li>
        }
    </ul>
</div>